
.center-section {
    background-color: white;
    flex-grow: 1; /* La sección central ocupa el espacio restante */
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.center-section h1 {
    font-size: 34px;
    color: rgb(107, 125, 184);
    margin-left: 10px;
}

footer {
    padding: 10px;
    color: grey;
    text-align: center;
}

