
@media (min-width: 1200px) {
    .right-section {    
        position: fixed;
        top: 90px;
        bottom: 15px; /* Separar de la parte superior */
        right: 15px;
        width: 300px; /* Puedes ajustar el tamaño según tus necesidades */
        height: calc(100vh - 125px);
        background-color: #f1f1f1;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        z-index: 5;
    }

    .back-section-right {
        width: 100%;
        position: relative;
        margin-top: 30px; /* Separar de la parte superior */
        margin-right: 15px;
        max-width: 6cm;
    }
}
.chaty {
    margin-left: 5%;
    top: 0px;
    color: grey;
    padding: 5px;
    font-size: 20px;
}

/* Área de historial */
.chat-history {
    flex-grow: 1;
    overflow-y: auto; /* Permite desplazarse cuando el contenido es demasiado grande */
    max-height: 100%; /* Limitar el tamaño del historial visible */
    padding-right: 5px;
}
.chat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 0%;
    gap: 10px; /* Espaciado entre el input y el botón */
}
.chat-input input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.chat-input button {
    width: 25%;
    background-color: #4A90E2;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.chat-input button:hover {
    background-color: #1C5B90;
}
/* Mensajes del chat */
.message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
}
/* Mensaje del usuario */
.message.user {
    background-color: #D0E5F1; /* Azul clarito */
    color: #003D73; /* Azul oscuro */
    align-self: flex-end; /* Alinea los mensajes del usuario a la derecha */
    margin-left: 10%;
}
/* Mensaje de la IA */
.message.ai {
    background-color: #F1F1F1; /* Gris claro */
    color: #333; /* Texto oscuro */
    align-self: flex-start; /* Alinea los mensajes de la IA a la izquierda */
}

@media (max-width: 1200px) {
    .right-section {    
        position: fixed;
        top: 90px;
        bottom: 15px; /* Separar de la parte superior */
        right: 15px;
        width: 300px; /* Puedes ajustar el tamaño según tus necesidades */
        height: calc(100vh - 125px);
        background-color: #f1f1f1;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        z-index: 5;
        visibility: hidden;
    }

    .back-section-right {
        width: 100%;
        position: relative;
        margin-top: 30px; /* Separar de la parte superior */
        margin-right: 15px;
        max-width: 6cm;
        display: none;
    }
}