/* Aseguramos que html y body ocupen toda la altura */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal de la página */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: white;
    color: #007BFF;
}

/* Contenido principal */
main {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff;
    padding: 80px; /* Aumenta el padding para mayor espacio alrededor del formulario */
    padding-left: 45px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px; /* Aumenta el margen entre los campos */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px; /* Mayor padding para los campos */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    margin-top: 5px; /* Separación entre el label y el campo */
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}


/* Estilo para el botón de envío */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
