 
.title {
    margin-left: 22%;
}

/*
    =======================================
        Estilo general de las preguntas
    =======================================
*/
.question {
    background-color: #e0f7fa; 
    padding: 20px;                      /* evitamos que los elementos se peguen */
    border-radius: 8px;                 /* esquina redondeada para el div */
    height: 100%;
    width: 90%;                         /* ocupa un 85% del ancho de la seccion central */
    margin: 0 auto;                     /* Centrar horizontalmente */
    box-sizing: border-box;             /* Asegura que padding y border no alteren el ancho */
    margin-left: 5%;
}

.question h1 {
    color: #333333;
    font-size: 2.25em;      
    margin-bottom: 1%;                /* Espacio debajo del titulo */
    margin-left: 3%;
    text-shadow: 2px 2px 4px rgba(82, 82, 82, 0.1);
}

.question .description {
    color: #555555; 
    font-size: 1em;
    margin-bottom: 15px;                /* Espacio debajo de la descripción */
    margin-left: 3%;
    margin-right: 3%;
}

.question img {
    border-radius: 15px; /* Bordes redondeados */
    align-self: center;
    width: 89%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efectos suaves */
    margin: 5%;
    margin-top: 3%;
}

.question .code {
    border-radius: 15px; /* Bordes redondeados */
    margin: 5%;
    color: white;
    padding: 10px;
    width: auto;
    height: min-content;
    background-color: #5e9de0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
  
.u_list li {
    color: #555555; 
    list-style:disc;
    margin-left: 2%;
}

/*
    =====================================
        Estilo general del formulario   
    =====================================
*/
.question form {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 15px;
    background-color: #f9f9f9; 
    border-radius: 8px;                 /* esquina redondeada para el form */
    border: 1px solid #ddd;           /* Borde sutil */
    width: auto;                        /* Permitir que el formulario ajuste su tamaño */
    margin: 0;                          /* Sin margen adicional */
}

.buttons {
    display: flex;                      /* ponemos los botones en fila */
    gap: 10px;                          /* separamos los botones */
    align-items: left;                  /* alineamos horizontalmente */
    padding-top: 10px;                  /* agregamos un poco de espacio entre las zonas y los botones */
    margin-top: auto;                   /* empujamos los botones hacia abajo */
}
    
/* Botón de envío */
.question form button {
    padding: 10px 20px;                 /* ampliamos la caja del botón para que ocupe más allá de solo texto */
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;                 /* esquina redondeada para el boton */
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question form button:hover {
    background-color: #0056b3; 
}

.question form label {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px; 
    background-color: #e0f7fa; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.margin-label {
    margin-left: 10px;
    padding: 8px;
    width: 40%;
}

.question form label:hover {
    background-color: #b2ebf2;
}

/*
    =====================================
        Preguntas de respuesta única 
                y múltiple
    =====================================
*/    
    /* Estilo para los inputs */
    .question form input[type="radio"],
    .question form input[type="checkbox"] {
        margin-right: 8px; 
        accent-color: #007BFF; 
    }
 
/*
    ======================================
           Preguntas de Drag & Drop
    ======================================
*/
    .drag-drop-zone-container {
        display: flex;                  /* distribuimos las zonas a la izquierda y derecha */
        justify-content: space-between; /* aseguramos separación horizontal */
        flex: 1;                        /* hacer que ocupe todo el espacio disponible */
        gap: 5%;                        /* espaciado entre las zonas */
    }

    /* Zona de arrastre */
    .drag-zone {
        width: 40%;                     /* ocupa el 40% del formulario */
    }

    /* Zona de respuesta */
    .drop-zone {
        width: 50%;                     /* ocupa el 50% del formulario */
    }

    .drag-zone .draggable {
        display: block;                 /* aseguramos que los bloques sean visibles */
        margin-bottom: 10px;            /* espacio entre los bloques */
    }

    .draggable {
        width: 100%;
        padding: 10px;
        background-color: #87ceeb;
        color: white;
        border-radius: 5px;
        cursor: grab;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .droppable {
        width: 100%;
        min-height: 40px;
        background-color: #ffe4e1;
        display: flex;
        margin-bottom: 10px;            /* Espacio entre los bloques */
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

/*
    ======================================
             Preguntas de hot spot
    ======================================
*/
    .question .hotspot {
        display: flex;
        gap: 15px;                      /* espaciado entre las secciones */
        box-sizing: border-box; 
    }

    .question form select {
        width: 70%; /* Ancho completo dentro del contenedor */
        padding: 10px;
        margin-left: 5%;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombras ligeras */
        transition: border-color 0.3s ease;
        cursor: pointer;
    }
    
    /* Estilo para <select> en hover y focus */
    .question form select:hover {
        border-color: #007BFF;
        background-color: #f0f8ff;
    }
    
    .question form select:focus {
        outline: none;
        border-color: #0056b3;
        box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
    }

    .question form option {
        padding: 10px;
        background-color: #ffffff;
        color: #333;
        font-size: 1em;
    }
    
    /* Cambios al seleccionar una opción */
    .question form option:checked {
        background-color: #007BFF;
        color: #fff;
    }
    