.left-section {
    position: fixed;
    top: 60px;
    height: calc(100vh - 125px);
    width: 300px;
    left: 15px;
    overflow-y: auto; /* Permite desplazarse cuando el contenido es demasiado grande */
    max-height: 100%; /* Limitar el tamaño del historial visible */
    background-color: #D0E5F1; /* Azul claro relajante */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efecto de flote */
    margin-top: 30px; /* Separar de la parte superior */
    max-width: 7cm;
    padding: 10px;
    z-index: 5;
}   

.topic-index {
    flex-grow: 1;
    overflow-y: auto; /* Permite desplazarse cuando el contenido es demasiado grande */
    max-height: 100%; /* Limitar el tamaño del historial visible */
    padding-right: 5px;
    margin-left: 15px;
}

.back-section-left {
    width: 100%;
    position: relative;
    margin-top: 30px; /* Separar de la parte superior */
    margin-left: 15px;
    max-width: 6cm;
}

/* Estilo del índice */
.topic-index h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
    list-style: none;
    position: relative; /* Necesario para manejar la sublista dentro del flujo */
    padding-bottom: 0; /* No añadir espacio adicional cuando no hay sublista visible */
}

/* Sublista */
ul li .sublist {
    display: block; /* Asegura que se pueda mostrar */
    background-color: #D0E5F1;
    padding: 5px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    z-index: 10;
    opacity: 0; /* Inicialmente invisible */
    pointer-events: none; /* No interactuable antes de mostrarse */
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out; /* Suavizar la transición */
    max-height: 0; /* Comienza sin altura */
    overflow: hidden; /* Ocultar contenido extra */
    margin-top: 10px; /* Separación entre el tema y la sublista */
    margin-left: 5px;
}

ul li .sublist li {
    padding: 4px;
}

/* Mostrar sublista al pasar el ratón */
ul li:hover .sublist {
    opacity: 1; /* Hace visible la sublista */
    pointer-events: auto; /* Permite interactuar con la sublista */
    max-height: 500px; /* Altura máxima suficiente para mostrar la sublista */
}

/* No modificar el padding-bottom cuando el ratón está sobre la sublista */
ul li:hover {
    padding-bottom: 0; /* No añadir espacio adicional cuando la sublista se muestra */
}

/* Mantener la sublista visible mientras el ratón esté sobre ella o sobre el tema */
ul li:hover .sublist,
ul li .sublist:hover {
    opacity: 1; /* Mantener la sublista visible */
    pointer-events: auto; /* Habilitar la interacción */
}

ul li a {
    text-decoration: none;
    color: #003D73;
    font-weight: bold;
    font-size: 16px;
}

ul li a:hover {
    color: #1C5B90; /* Color al pasar el mouse */
}